@model string

<script src="@Url.Content("~/Scripts/SimAgile/timeDistr.js")"></script>
<div id="timeDistr">
</div>
<script type="text/javascript">
    var data = @Html.Raw(Model);
    drawTimeDistr($("#timeDistr")[0], data);
</script>