@model dynamic

@{
	ViewBag.Title = "title";
}

<h3>Sketches</h3>

<ul class="nav nav-pills nav-stacked">
	<li>
		<a href="http://localhost/Prototype.CFD/#main_page" target="_blank">Wiframe #1</a>
	</li>
</ul>
